
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="list-inline">
                            <li class="list-inline-item">

                                <img src="images/logo.png" alt="" class="img-fluid" title="FPT Polytechnic DN"
                                    width="150">

                            </li>
                        </ul>
                        <p>Được thiết kế bởi Lê Đức Giác Hoàng.</p>
                        <p>Change background color</p>
                        <form>
                            <strong style="background-color: #FFBF00;" class="mitColor"><input type="radio"
                                    ng-model="maunen" value="#FFBF00"></strong>
                            <strong style="background-color: #CCCCFF;" class="mitColor"><input type="radio"
                                    ng-model="maunen" value="#CCCCFF"></strong>
                            <strong style="background-color: #008080;" class="mitColor"><input checked autofocus
                                    type="radio" ng-model="maunen" value="#008080"></strong>
                            <strong style="background-color: #b127c4;" class="mitColor"><input checked autofocus
                                    type="radio" ng-model="maunen" value="#b127c4"></strong>
                            <strong style="background-color: #f5e400;" class="mitColor"><input checked autofocus
                                    type="radio" ng-model="maunen" value="#f5e400"></strong>
                            <strong style="background-color: #dd0000;" class="mitColor"><input checked autofocus
                                    type="radio" ng-model="maunen" value="#dd0000"></strong>
                            <strong style="background-color: #f34b7d;" class="mitColor"><input checked autofocus
                                    type="radio" ng-model="maunen" value="#f34b7d"></strong>
                            <strong style="background-color: #0ea500;" class="mitColor"><input checked autofocus
                                    type="radio" ng-model="maunen" value="#0ea500"></strong>
                            <strong style="background-color: #1c0069;" class="mitColor"><input checked autofocus
                                    type="radio" ng-model="maunen" value="#1c0069"></strong>
                            <strong style="background-color: #d86100;" class="mitColor"><input checked autofocus
                                    type="radio" ng-model="maunen" value="#d86100"></strong>
                        </form>
                    </div>

                    <div class="col-12 col-sm-auto mt-2">
                        <a href="https://www.facebook.com/leducgiachoang" rel="noopener" target="_blank" title="Github"
                            style="margin-right: 15px;text-decoration: none !important;">
                            <i class="fab fa-facebook-square fa-lg"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCaHBN961aB752fuJqzGNWHg" rel="noopener"
                            target="_blank" title="Youtube">
                            <i class="fab fa-youtube fa-lg"></i>
                        </a>




                    </div>
                </div>


            </div>
        