<div class="container">
    <div class="card">
        <div class="card-header">
            Thông tin góp ý
        </div>
        
        <div class="card-body">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>*Mọi thông tin thắc mắc và góp ý vui lòng nhập đầy đủ thông tin.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            
            <form>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>Họ và tên</label>
                        <input type="text" class="form-control">
                    </div>
    
                    <div class="form-group col-sm-6">
                        <label>Email</label>
                        <input type="email" class="form-control">
                    </div>
    
                    <div class="form-group col-sm-12">
                        <label>Số điện thoại</label>
                        <input type="email" class="form-control">
                    </div>
    
                    <div class="form-group col-sm-12">
                        <label>Nội dung góp ý</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>
    
                    <div class="form-group col-sm-12">
                        <button class="btn btn-success" type="submit">Gửi <i class="fas fa-paper-plane"></i></button>
                        <button class="btn btn-dark" type="reset">Nhập lại <i class="fas fa-sync-alt"></i></button>
                    </div>
                </div>
    
            </form>
        </div>
    </div>
</div>