<div class="container">
    <div class="card">
        <div class="card-header">
            THÔNG TIN LIÊN HỆ
        </div>
        <div class="card-body row">
            <div class="col-sm-6">
                <div class="form-group">
                    <h5><i class="fas fa-graduation-cap"></i> Cơ sở Hà Nội</h5>
                    <p><i class="fas fa-map-marker-alt"></i> Tòa nhà FPT Polytechnic, Phố Trịnh Văn Bô, Nam Từ Liêm, Hà Nội
                    </p>
                    <p><i class="fas fa-phone"></i> (024) 7300 1955</p>
                </div>
                <hr>
                <div class="form-group">
                    <h5><i class="fas fa-graduation-cap"></i> Cơ sở Đà Nẵng</h5>
                    <p><i class="fas fa-map-marker-alt"></i> Số 137 Nguyễn Thị Thập, Phường Hòa Minh, Quận Liên Chiểu, TP.
                        Đà Nẵng</p>
                    <p><i class="fas fa-phone"></i> (0236) 3710 999</p>
                </div>
                <hr>
                <div class="form-group">
                    <h5><i class="fas fa-graduation-cap"></i> Cơ sở Cần Thơ</h5>
                    <p><i class="fas fa-map-marker-alt"></i> Số 288, Nguyễn Văn Linh, phường An Khánh, quận Ninh Kiều, Tp.
                        Cần Thơ</p>
                    <p><i class="fas fa-phone"></i> (0292) 7300 468</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <h5><i class="fas fa-graduation-cap"></i> Cơ sở Hồ Chí Minh 1</h5>
                    <p><i class="fas fa-map-marker-alt"></i> 778/B1 Nguyễn Kiệm, P.4, Q. Phú Nhuận, TP. Hồ Chí Minh</p>
                    <p><i class="fas fa-phone"></i> (028) 62523434 – (028) 3526 8799</p>
                </div>
                <hr>
                <div class="form-group">
                    <h5><i class="fas fa-graduation-cap"></i> Cơ sở Hồ Chí Minh 2</h5>
                    <p><i class="fas fa-map-marker-alt"></i> 391A Nam Kỳ Khởi Nghĩa, Q. 3, TP. Hồ Chí Minh</p>
                    <p><i class="fas fa-phone"></i> 028) 62523434 – (028) 3526 8799</p>
                </div>
                <hr>
                <div class="form-group">
                    <h5><i class="fas fa-graduation-cap"></i> Cơ sở Tây Nguyên</h5>
                    <p><i class="fas fa-map-marker-alt"></i> Số 27, Tòa nhà VIB (Tầng 2), đường Nguyễn Tất Thành, Tân Lợi,
                        TP. Buôn Mê Thuột, Đắk Lắk</p>
                    <p><i class="fas fa-phone"></i> (0262) 355 5678</p>
                </div>
            </div>
    
            <div style="text-align: center;" class="col-sm-12 mx-auto">
                <img class="col-sm-8" src="../images/Poly (1).png" alt="">
                <div class="row mx-auto">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"><img src="../images/logos/facebook (3).png" alt=""></div>
                    <div class="col-sm-2"><img src="../images/logos/youtube (1).png" alt=""></div>
                    <div class="col-sm-2"><img src="../images/logos/ADBS.jpg" alt=""></div>
                    <div class="col-sm-2"><img src="../images/logos/GAME.png" alt=""></div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>